<p>
  What do you want to do?
  <ol>
    <li href = "/list">List all recipes</li>
    <li href = "/create">Create a new recipe</li>
    <li href = "/destroy">Destroy a recipe</li>
    <li href = "/import">Import recipes from LetsCookFrench</li>
    <li href = "/mark_as_tested">Mark recipe as tested</li>
    <li>Stop and exit the program</li>
  </ol>
</p>
